﻿@model ResailingApplication.Business.Models.Venue
@{
    ViewData["Title"] = Localizer["Delete venue"];
}

<div class="row">
    <h2>
        @ViewData["Title"]
    </h2>
    <div class="col-md-4">
        <h4 style="height: 40px">
            @Localizer["Do you really delete this venue?"]
        </h4>
        <h5>
            @Localizer["Name"]: @Localizer[Model.Name]
        </h5>
        <h5>
            @Localizer["City"]: @Localizer[Model.City.Name]
        </h5>
        <h5>
            @Localizer["Address"]: @Localizer[Model.Address]
        </h5>
        <a class="btn btn-primary" asp-controller="Venues" asp-action="DeleteConfirmed" asp-route-id=@Model.Id>@Localizer["Yes"]</a> |
        <a class="btn btn-primary" asp-controller="Venues" asp-action="Index">@Localizer["No"]</a>
    </div>
</div>