﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResailingApplication.Presentation</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Events" class="navbar-brand">ResailingApplication</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="MyTicket" asp-action="MyTickets">@Localizer["MyTickets"]</a></li>
                        <li><a asp-area="" asp-controller="MyOrder" asp-action="MyOrders">@Localizer["MyOrders"]</a></li>

                        <li><a>@Localizer["Welcome"], @Localizer[User.Claims.FirstOrDefault(claim => claim.Type == "UserName").Value]</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">@Localizer["Info"]<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Account" asp-action="UserInfo">@Localizer["AboutUser"]</a></li>
                                <li class="divider"></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-area="" asp-controller="Account" asp-action="AdminBar">@Localizer["Manage Options"]</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Events" asp-action="FullSearch">@Localizer["Full Search"]</a></li>
                                    <li class="divider"></li>
                                }

                                <li><a asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - ResailingApplication.Presentation</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/moment/moment.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/bootpag/lib/jquery.bootpag.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
