﻿@model ResailingApplication.Business.Models.Ticket
@{
    ViewData["Title"] = Localizer["Tickets"];
}

<div class="row">
    <div class="col-md-3">
        <img alt=@Model.Event.Name src=@Model.Event.Banner class="img-rounded" style="display: block; max-width: 100%; height: auto" />
    </div>
    <div class="col-md-9">
        <h4 style="height: 40px">
            @Localizer["Name"]: @Model.Event.Name
        </h4>
        <h5>
            @Localizer["City"]: @Localizer[Model.Event.Venue.City.Name]
        </h5>
        <h5>
            @Localizer["Address"]: @Localizer[Model.Event.Venue.Address]
        </h5>
        <h5>
            @Localizer["Date"]: @Model.Event.Date.ToString("dd.MM.yyyy")
        </h5>
        <p class="eventDesc">
            @Localizer["Description"]:
            @Localizer[Model.Event.Description]
        </p>
    </div>
</div>
<hr />
<div class="row" style="padding-top: 25px">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@Localizer["Seller"]</th>
                    <th>@Localizer["Price"]</th>
                    <th>@Localizer["Description"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-3">
                        @Localizer[Model.Seller.FirstName] @Localizer[Model.Seller.LastName]
                    </td>
                    <td class="col-md-1">
                        @Model.Price
                    </td>
                    <td>
                        @Localizer[Model.SellerNote.Name]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <a class="btn btn-primary" asp-controller="MyOrder" asp-action="CreateConfirmed" asp-route-id="@Model.Id">@Localizer["Buy"]</a>
</div>
