﻿@model ResailingApplication.Presentation.ViewModels.Orders.MyOrdersModel
@{
    ViewData["Title"] = Localizer["My orders"];
}

<div class="row" style="padding-top: 25px">
    <h2>@ViewData["Title"]</h2>
   @if (Model.BuyingOrders.Count > 0)
   {
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Localizer["Image"]</th>
                        <th>@Localizer["Ticket"]</th>
                        <th>@Localizer["Status"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ResailingApplication.Business.Models.Order order in Model.BuyingOrders)
                    {
                        <tr>
                            <td class="col-md-3">
                                <img alt=@order.Ticket.Event.Name src=@order.Ticket.Event.Banner class="img-rounded" style="display: block; max-width: 100%; height: auto" />
                            </td>
                            <td class="col-md-6">
                                <h4>
                                    @Localizer["Name"]: @order.Ticket.Event.Name
                                </h4>
                                <h5>
                                    @Localizer["City"]: @Localizer[order.Ticket.Event.Venue.City.Name]
                                </h5>
                                <h5>
                                    @Localizer["Address"]: @Localizer[order.Ticket.Event.Venue.Address]
                                </h5>
                                <h5>
                                    @Localizer["Date"]: @order.Ticket.Event.Date.ToString("dd.MM.yyyy")
                                </h5>
                                <h5>
                                    @Localizer["Price"]: @order.Ticket.Price
                                </h5>
                                <h5>
                                    @Localizer["Seller"]: @order.Ticket.Seller.Login (@Localizer[order.Ticket.Seller.FirstName] @Localizer[order.Ticket.Seller.LastName])
                                </h5>
                                <h5>
                                    @Localizer["Tracking number"]: @order.TrackNO
                                </h5>
                                
                                <p>
                                    @Localizer["Event's description"]:
                                    @Localizer[order.Ticket.Event.Description]
                                </p>
                                <p>
                                    @Localizer["Seller's description"]:
                                    @Localizer[order.Ticket.SellerNote.Name]
                                </p>
                            </td>
                            <td class="col-md-3">
                                <h5>
                                    @Localizer[order.StatusOrder.Name]
                                </h5>
                                @if (order.StatusOrder.Name == "Confirmed")
                                {
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a asp-controller="MyOrder" asp-action="ConfirmDelivery" asp-route-id="@order.Id">@Localizer["Confirm delivery"]</a></li>
                                    </ul>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Localizer["Information"]
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center">
                    @Localizer["Sorry, but we don't have orders at this moment."]
                </div>
            </div>
        </div>
    }
</div>

