﻿<div>
    <ul>
        <li>@Localizer["Admin actions:"]</li>
        <li><a asp-controller="Account" asp-action="UsersRights">@Localizer["Edit User Role"]</a></li>
        <li><a asp-controller="Cities" asp-action="Index">@Localizer["Edit Cities"]</a></li>
        <li><a asp-controller="Venues" asp-action="Index">@Localizer["Edit Venues"]</a></li>
        <li><a asp-controller="Events" asp-action="Index">@Localizer["Edit Events"]</a></li>
    </ul>
</div>