﻿@model ResailingApplication.Business.Models.User
@{
    ViewData["Title"] = Localizer["Delete user"];
}

<div class="row">
    <h2>
        @ViewData["Title"]
    </h2>
    <div class="col-md-12">
        <h4 style="height: 40px">
            @Localizer["Do you really delete this user?"]
        </h4>        
        <div class="col-md-6">
            <h4>
                @Localizer["Login"]: @Model.Login < @Model.Localization>
            </h4>
            <h5>
                @Localizer["Full name"]: @Model.FirstName @Model.LastName
            </h5>
            <h5>
                @Localizer["Address"]: @Model.Address
            </h5>
            <h5>
                @Localizer["Phone"]: @Model.PhoneNumber
            </h5>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a asp-controller="Account" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">@Localizer["Yes"]</a></li>
                <li><a asp-controller="Account" asp-action="UsersRights">@Localizer["No"]</a></li>
            </ul>
        </div>
    </div>
</div>