﻿@model ResailingApplication.Presentation.ViewModels.Account.LoginModel
@{
    ViewData["Title"] = Localizer["Login"];
}

<h2>@ViewData["Login"]</h2>

<a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Login">@Localizer["Login"]:</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">@Localizer["Password"]:</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Login"]" class="btn" />
        </div>
    </div>
</form>