﻿@model ResailingApplication.Presentation.ViewModels.Account.RegisterModel
@{
    ViewData["Title"] = Localizer["RegisterAccount"];
}

<h2>@ViewData["RegisterAccount"]</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Login">@Localizer["Login"]:</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password">@Localizer["Password"]:</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]:</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="@Localizer["RegisterButton"]:" />
        </div>
    </div>
</form>