﻿@model List<ResailingApplication.Business.Models.User>
@{
    ViewData["Title"] = Localizer["List of Venues"];
}

<div class="row" style="padding-top: 25px">
    <h2>@ViewData["Title"]</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#users" role="presentation">@Localizer["User rights"]</a></li>
        <li><a href="#admins" role="presentation">@Localizer["Admin rights"]</a></li>
    </ul>
    <div>
        <div class="tab-pane active" id="users">
            <div class="row" style="padding-top: 25px">
                @if (Model.Where(u => u.Role.Name == "User").Any())
                {
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Localizer["Avatar"]</th>
                                    <th>@Localizer["User"]</th>
                                    <th>@Localizer["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ResailingApplication.Business.Models.User user in Model.Where(u => u.Role.Name == "User").ToList())
                                {
                                    <tr>                                        
                                        <td class="col-md-6">
                                            <h4>
                                                @Localizer["Login"]: @user.Login < @user.Localization>
                                            </h4>
                                            <h5>
                                                @Localizer["Full name"]: @user.FirstName @user.LastName
                                            </h5>
                                            <h5>
                                                @Localizer["Address"]: @user.Address
                                            </h5>
                                            <h5>
                                                @Localizer["Phone"]: @user.PhoneNumber
                                            </h5>
                                        </td>
                                        <td class="col-md-3">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a asp-controller="Account" asp-action="ChangeRights" asp-route-id="@user.Id">@Localizer["to Admin"]</a></li>
                                                <li><a asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id">@Localizer["Delete"]</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @Localizer["Information"]
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                @Localizer["Sorry, but we don't have users at this moment."]
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane" id="admins">
            <div class="row" style="padding-top: 25px">
                @if (Model.Where(u => u.Role.Name == "Admin").Any())
                {
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Localizer["Avatar"]</th>
                                    <th>@Localizer["User"]</th>
                                    <th>@Localizer["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ResailingApplication.Business.Models.User user in Model.Where(u => u.Role.Name == "Admin").ToList())
                                {
                                    <tr>                                        
                                        <td class="col-md-6">
                                            <h4>
                                                @Localizer["Login"]: @user.Login < @user.Localization>
                                            </h4>
                                            <h5>
                                                @Localizer["Full name"]: @user.FirstName @user.LastName
                                            </h5>
                                            <h5>
                                                @Localizer["Address"]: @user.Address
                                            </h5>
                                            <h5>
                                                @Localizer["Phone"]: @user.PhoneNumber
                                            </h5>
                                        </td>
                                        <td class="col-md-3">
                                            <ul class="nav nav-pills nav-stacked">
                                                <li><a asp-controller="Account" asp-action="ChangeRights" asp-route-id="@user.Id">@Localizer["to User"]</a></li>
                                                <li><a asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id">@Localizer["Delete"]</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @Localizer["Information"]
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                @Localizer["Sorry, but we don't have admins at this moment."]
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>