﻿@model ResailingApplication.Business.Models.User
@{
    ViewData["Title"] = Localizer["MyInfo"];
}

<!doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body> 
    <a asp-controller="Manage" asp-action="Update" asp-route-id="@Model.Id">@Localizer["Edit"]</a>    
        <div>
            <h4>
                @Localizer["FirstName"]: @Model.FirstName
            </h4>
            <h5>
                @Localizer["LastName"]: @Model.LastName

            </h5>
            <h4>
                @Localizer["MyLogin"]: @Model.Login
            </h4>
            <h5>
                @Localizer["PhoneNumber"]: @Model.PhoneNumber

            </h5>
            <h5>
                @Localizer["Address"]: @Model.Address
            </h5>
            <h5>
                @Localizer["Localization"]: @Model.Localization
            </h5>
            <h5>
                @Localizer["MyRole"]: @Model.Role.Name
            </h5>            
    </div>
</body>
</html>