﻿@model ResailingApplication.Presentation.ViewModels.Events.EventModel
@{
    ViewData["Title"] = Localizer["Create event"];
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="Create" asp-controller="Events" asp-anti-forgery="true">
            <h4 style="height: 40px">
                @ViewData["Title"]
            </h4>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            
            <div class="form-group">
                <label asp-for="VenueId">@Localizer["City"]</label>
                <select asp-for="VenueId" asp-items="@(new SelectList(Model.Cities, "Value", "Text"))">
                    <option>---select---</option>
                </select>
                <span asp-validation-for="VenueId" />
            </div>
            <div class="form-group">
                <label asp-for="VenueId">@Localizer["Venue"]</label>
                <select asp-for="VenueId" asp-items="@(new SelectList(Model.Venues, "Value", "Text"))">
                    <option>---select---</option>
                </select>
                <span asp-validation-for="VenueId" />
            </div>
            <input type="hidden" asp-for="VenueId" />            
            <div class="form-group">
                <label asp-for="Name">@Localizer["Name"]</label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Date">@Localizer["Date"]</label>
                <input type="date" asp-for="Date" />
                <span asp-validation-for="Date" />
            </div>
            <div class="form-group">
                <label asp-for="Description">@Localizer["Description"]</label>
                <input type="text" asp-for="Description" />
                <span asp-validation-for="Description" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="@Localizer["Create"]" /> |
                <a class="btn btn-primary" asp-controller="Events" asp-action="Index">@Localizer["No"]</a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#countries').change(function () {
            $.ajax({
                type: "post",
                url: "@Url.Action("GetCities", "Events")",
                data: { country: $('#countries').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = "<label>@Localizer["City "]</label>" + "<select id='cities'>";
                    district = district + '<option value="0">---select---</option>';
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    district = district + '</select>' + '<span />';
                    $('#AjaxCities').html(district);
                    var cityId = $('#cities').val();
                    $('#cities').val(0);
                    $('#cities').val(cityId);
                }
            });
        });
    });

    