﻿@model ResailingApplication.Business.Models.Event
@{
    ViewData["Title"] = Localizer["Delete event"];
}

<div class="row">
    <h2>
        @ViewData["Title"]
    </h2>
    <h4 style="height: 40px">
        @Localizer["Do you really delete this event?"]
    </h4>
    <div class="row">
        <div class="col-md-3">
            <img alt=@Model.Name src=@Model.Banner class="img-rounded" style="display: block; max-width: 100%; height: auto" />
        </div>
        <div class="col-md-9">
            <h4 style="height: 40px">
                @Localizer["Name"]: @Model.Name
            </h4>
            <h5>
                @Localizer["City"]: @Localizer[Model.Venue.City.Name]
            </h5>
            <h5>
                @Localizer["Address"]: @Localizer[Model.Venue.Address]
            </h5>
            <h5>
                @Localizer["Date"]: @Model.Date.ToString("dd.MM.yyyy")
            </h5>
            <p class="eventDesc">
                @Localizer["Description"]:
                @Localizer[Model.Description]
            </p>
        </div>
    </div>
    <hr />
    <a class="btn btn-primary" asp-controller="Events" asp-action="DeleteConfirmed" asp-route-id=@Model.Id>@Localizer["Yes"]</a> |
    <a class="btn btn-primary" asp-controller="Events" asp-action="Index">@Localizer["No"]</a>
</div>