﻿@{
    ViewData["Title"] = "Upload image";
}
<h3>@Localizer["Select file"]</h3>
<form asp-action="ImageUpload" asp-controller="Events" method="post" enctype="multipart/form-data">
    <input type="hidden" name="eventId" value="@ViewBag.EventId" /><br>
    <input type="file" name="uploadedFile" /><br>
    <input class="btn btn-primary" type="submit" value="@Localizer["Upload"]" /> |
    <a class="btn btn-primary" asp-controller="Events" asp-action="Index">@Localizer["No"]</a>
</form>