﻿@model List<ResailingApplication.Business.Models.Event>
@{
    int number = 1;
    ViewData["Title"] = Localizer["List of Events"];
}

<div class="row" style="padding-top: 25px">
    <h2>@ViewData["Title"]</h2>
    @if (Model.Count > 0)
    {
        <div class="col-md-12">
            <a class="btn btn-primary" asp-controller="Events" asp-action="Create">@Localizer["Create"]</a>
            <hr />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Localizer["№"]</th>
                        <th>@Localizer["Image"]</th>
                        <th>@Localizer["Event"]</th>
                        <th>@Localizer["Actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ResailingApplication.Business.Models.Event item in Model)
                    {
                        <tr>
                            <td class="col-md-1">
                                @(number++)
                            </td>
                            <td class="col-md-3">
                                <img alt=@item.Name src=@item.Banner class="img-rounded" style="display: block; max-width: 100%; height: auto" />
                            </td>
                            <td class="col-md-6">
                                <h4>
                                    @Localizer["Name"]: @item.Name
                                </h4>
                                <h5>
                                    @Localizer["City"]: @Localizer[item.Venue.City.Name] 
                                </h5>
                                <h5>
                                    @Localizer["Address"]: @Localizer[item.Venue.Address]
                                </h5>
                                <h5>
                                    @Localizer["Date"]: @item.Date.ToString("dd.MM.yyyy")
                                </h5>
                                <p>
                                    @Localizer["Description"]:
                                    @Localizer[item.Description]
                                </p>
                            </td>
                            <td class="col-md-2">
                                <a asp-controller="Events" asp-action="Update" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                                <a asp-controller="Events" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Localizer["Information"]
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center">
                    @Localizer["Sorry, but don't have events at this time."]
                </div>
            </div>
        </div>
    }
</div>