﻿@model List<ResailingApplication.Business.Models.Event>
@{
    ViewData["Title"] = Localizer["ListOfEvents"];
}
<!doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    
    @foreach (ResailingApplication.Business.Models.Event item in Model)
    {
        <div>
            <img alt=@item.Name src=@item.Banner />            
            <p>
                @Localizer["Event"]: @item.Name
            </p>
            <p>
                @Localizer["Date"]: @item.Date.ToString("dd/MM/yyyy")
            </p>
            <p>
                @Localizer["City"]: @item.Venue.City.Name
            </p>
            <p>
                @Localizer["Venue"]: @item.Venue.Name
            </p>
            <a class="button" asp-action="Tickets" asp-controller="Home" asp-route-id=@item.Id>@Localizer["EventButton"]</a>
        </div>
    }
</body>
</html>