﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>ммм Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>1</h2>
</body>
</html>