﻿@model ResailingApplication.Presentation.ViewModels.Tickets.TicketsModel
@{
    ViewData["Title"] = Localizer["ListOfTickets"];
}
<!doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <img alt=@Model.Event.Name src=@Model.Event.Banner />
        <p>
            @Localizer["Event"]: @Model.Event.Name
        </p>
        <p>
            @Localizer["Date"]: @Model.Event.Date.ToString("dd/MM/yyyy")
        </p>
        <p>
            @Localizer["City"]: @Model.Event.Venue.City.Name
        </p>
        <p>
            @Localizer["Venue"]: @Model.Event.Venue.Name
        </p>
    </div>

    @foreach (ResailingApplication.Business.Models.Ticket item in Model.Ticket)
    {
        <div>
            <p>
                @Localizer["Seller"]: @item.Seller.FirstName @item.Seller.LastName
            </p>
            <p>
                @Localizer["Price"]: @item.Price
            </p>
            <p>
                @Localizer["SellerNote"]: @item.SellerNote.Name
            </p>
            <a class="btn btn-primary" asp-controller="MyOrder" asp-action="Create" asp-route-id="@item.Id">@Localizer["Buy"]</a>
        </div>
    }
</body>
</html>