﻿@model ResailingApplication.Presentation.ViewModels.Manager.UserModel
@{
    ViewData["Title"] = Localizer["Update user"];
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="Update" asp-controller="Manage" asp-anti-forgery="true">
            <h4 style="height: 40px">
                @ViewData["Title"]
            </h4>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName">@Localizer["First name"]</label>
                <input type="text" asp-for="FirstName" />
                <span asp-validation-for="FirstName" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">@Localizer["Last name"]</label>
                <input type="text" asp-for="LastName" />
                <span asp-validation-for="LastName" />
            </div>
            <div class="form-group">
                <label asp-for="Localization">@Localizer["Localization"]</label>
                <select asp-for="Localization">
                    <option value="ru">@Localizer["Russian"]</option>
                    <option value="be">@Localizer["Belorussian"]</option>
                    <option value="en">@Localizer["English"]</option>
                    <option value="zh">@Localizer["Chinese"]</option>
                </select>
                <span asp-validation-for="Localization" />
            </div>
            <div class="form-group">
                <label asp-for="Address">@Localizer["Address"]</label>
                <input type="text" asp-for="Address" />
                <span asp-validation-for="Address" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="@Localizer["Update"]" /> |
                <a class="btn btn-primary" asp-controller="Account" asp-action="UserInfo">@Localizer["No"]</a>
            </div>
        </form>
    </div>
</div>