﻿@model ResailingApplication.Presentation.ViewModels.Cities.CityModel
@{
    ViewData["Title"] = Localizer["Create city"];
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="Create" asp-controller="Cities" asp-anti-forgery="true">
            <h4 style="height: 40px">
                @ViewData["Title"]
            </h4>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Country">@Localizer["Country"]</label>
                <select asp-for="Country" asp-items="@Model.Countries"></select>
                <span asp-validation-for="Country" />
            </div>
            <div class="form-group">
                <label asp-for="City">@Localizer["City"]</label>
                <input type="text" asp-for="City" />
                <span asp-validation-for="City" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="@Localizer["Create"]" /> |
                <a class="btn btn-primary" asp-controller="Cities" asp-action="Index">@Localizer["No"]</a>
            </div>
        </form>
    </div>
</div>