﻿@model ResailingApplication.Business.Models.City
@{
    ViewData["Title"] = Localizer["Delete city"];
}

<div class="row">
    <h2>
        @ViewData["Title"]
    </h2>
    <div class="col-md-4">
        <h4 style="height: 40px">
            @Localizer["Do you really delete this city?"]
        </h4>        
        <h5>
            @Localizer["City"]: @Localizer[Model.Name]
        </h5>
        <a class="btn btn-primary" asp-controller="Cities" asp-action="DeleteConfirmed" asp-route-id=@Model.Id>@Localizer["Yes"]</a> |
        <a class="btn btn-primary" asp-controller="Cities" asp-action="Index">@Localizer["No"]</a>
    </div>
</div>