﻿@model List<ResailingApplication.Business.Models.City>
@{
    int number = 1;
    ViewData["Title"] = Localizer["List of cities"];
}

<div class="row" style="padding-top: 25px">
    <h2>@ViewData["Title"]</h2>
    @if (Model.Count > 0)
    {
        <div class="col-md-6">
            <a class="btn btn-primary" asp-controller="Cities" asp-action="Create">@Localizer["Create"]</a>
            <hr />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Localizer["№"]</th>
                        <th>@Localizer["City"]</th>
                        <th>@Localizer["Actions"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ResailingApplication.Business.Models.City city in Model)
                    {
                        <tr>
                            <td class="col-md-1">
                                @(number++)
                            </td>
                            <td>
                                @Localizer[city.Name]
                            </td>
                            <td class="col-md-4">
                                <a asp-controller="Cities" asp-action="Update" asp-route-id="@city.Id">@Localizer["Edit"]</a>
                                <a asp-controller="Cities" asp-action="Delete" asp-route-id="@city.Id">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Localizer["Information"]
                    </h3>
                </div>
                <div class="panel-body" style="text-align: center">
                    @Localizer["Sorry, but don't have cities at this time."]
                </div>
            </div>
        </div>
    }
</div>
