﻿@model ResailingApplication.Presentation.ViewModels.Tickets.TicketModel
@{
    ViewData["Title"] = Localizer["Create ticket on event"];
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="Create" asp-controller="MyTicket" asp-anti-forgery="true">
            <h4 style="height: 40px">
                @ViewData["Title"]
            </h4>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="EventId">@Localizer["Event"]</label>
                <select asp-for="EventId" asp-items="@(new SelectList(Model.Events, "Value", "Text"))">
                    <option>---select---</option>
                </select>
                <span asp-validation-for="EventId" />
            </div>
            <div class="form-group">
                <label asp-for="Price">@Localizer["Price"]</label>
                <input type="text" asp-for="Price" />
                <span asp-validation-for="Price" />
            </div>
            <div class="form-group">
                <label asp-for="Description">@Localizer["Description"]</label>
                <input type="text" asp-for="Description" />
                <span asp-validation-for="Description" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="@Localizer["Create"]" /> |
                <a class="btn btn-primary" asp-controller="MyTicket" asp-action="MyTickets">@Localizer["No"]</a>
            </div>
        </form>
    </div>
</div>
