﻿@model List<ResailingApplication.Business.Models.Order>
@{
    ViewData["Title"] = Localizer["MyOrders"];
}
<!doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>

    @foreach (ResailingApplication.Business.Models.Order item in Model)
    {
        <div>
            <img alt=@item.Ticket.Event.Name src=@item.Ticket.Event.Banner />
            <h4>
                @Localizer["Event"]: @item.Ticket.Event.Name
            </h4>            
            <h5>
                @Localizer["Date"]: @item.Ticket.Event.Date.ToString("dd/MM/yyyy")

            </h5>
            <h4>
                @Localizer["SellerNote"]: @item.Ticket.SellerNote.Name
            </h4>
            <h5>
                @Localizer["City"]: @item.Ticket.Event.Venue.City.Name

            </h5>
            <h5>
                @Localizer["Address"]: @item.Ticket.Event.Venue.Address
            </h5>
            <h5>
                @Localizer["Price"]: @item.Ticket.Price
            </h5>
            <h5>
                @Localizer["Seller"]: @item.Ticket.Seller.FirstName @item.Ticket.Seller.LastName
            </h5>
            <h5>
                @Localizer["TrackingNumber"]: @item.TrackNO
            </h5>
            <h4>
                @Localizer["StatusOrder"]: @item.StatusOrder.Name
            </h4>
        </div>
    }
</body>
</html>