﻿@model ResailingApplication.Presentation.ViewModels.Tickets.MyTicketsModel
@{
    ViewData["Title"] = Localizer["MyTickets"];
}
<!doctype html>
<script>
var show;
function hidetxt(type){
 param=document.getElementById(type);
 if(param.style.display == "none") {
 if(show) show.style.display = "none";
 param.style.display = "block";
 show = param;
 }else param.style.display = "none"
}
</script>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <div>
            <a class="btn btn-primary" asp-controller="MyTicket" asp-action="Create">Create ticket of event</a>
            <a onclick="hidetxt('div1'); return false;" href="#" rel="nofollow">@Localizer["SellingTickets"]</a>
            <div style="display:none;" id="div1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Localizer["Image"]</th>
                            <th>@Localizer["Ticket"]</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ResailingApplication.Business.Models.Ticket item in Model.SellingTickets)
                        {
                            <tr>

                                <td>
                                    <img alt=@item.Event.Name src=@item.Event.Banner />
                                </td>
                                <td>
                                    <div>
                                        <h4>
                                            @Localizer["Event"]: @item.Event.Name
                                        </h4>
                                        <h5>
                                            @Localizer["Date"]: @item.Event.Date.ToString("dd/MM/yyyy")

                                        </h5>
                                        <h4>
                                            @Localizer["SellerNote"]: @item.SellerNote.Name
                                        </h4>
                                        <h5>
                                            @Localizer["City"]: @item.Event.Venue.City.Name

                                        </h5>
                                        <h5>
                                            @Localizer["Address"]: @item.Event.Venue.Address
                                        </h5>
                                        <h5>
                                            @Localizer["Price"]: @item.Price
                                        </h5>
                                        <p>
                                            @Localizer["Description"]: @item.Event.Description
                                        </p>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div>
            <a onclick="hidetxt('div2'); return false;" href="#1" rel="nofollow">@Localizer["WaitingConfirmationOrders"]</a>
            <div style="display:none;" id="div2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Localizer["Image"]</th>
                            <th>@Localizer["Ticket"]</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ResailingApplication.Business.Models.Order item in Model.WaitingConfirmationOrders)
                        {
                            <tr>

                                <td>
                                    <img alt=@item.Ticket.Event.Name src=@item.Ticket.Event.Banner />
                                </td>
                                <td>
                                    <div>
                                        <h4>
                                            @Localizer["Event"]: @item.Ticket.Event.Name
                                        </h4>
                                        <h5>
                                            @Localizer["Date"]: @item.Ticket.Event.Date.ToString("dd/MM/yyyy")

                                        </h5>
                                        <h4>
                                            @Localizer["SellerNote"]: @item.Ticket.SellerNote.Name
                                        </h4>
                                        <h5>
                                            @Localizer["City"]: @item.Ticket.Event.Venue.City.Name

                                        </h5>
                                        <h5>
                                            @Localizer["Address"]: @item.Ticket.Event.Venue.Address
                                        </h5>
                                        <h5>
                                            @Localizer["Price"]: @item.Ticket.Price
                                        </h5>
                                        <p>
                                            @Localizer["Description"]: @item.Ticket.Event.Description
                                        </p>
                                        <h4>
                                            @Localizer["StatusOrder"]: @item.StatusOrder.Name
                                        </h4>
                                    </div>
                                </td>
                                <td class="col-md-3">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a asp-controller="MyTicket" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a></li>
                                        <li><a asp-controller="MyTicket" asp-action="Reject" asp-route-id="@item.Id">Reject</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div>
            <a onclick="hidetxt('div3'); return false;" href="#2" rel="nofollow">@Localizer["ConfirmedOrders"]</a>
            <div style="display:none;" id="div3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Localizer["Image"]</th>
                            <th>@Localizer["Ticket"]</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ResailingApplication.Business.Models.Order item in Model.ConfirmedOrders)
                        {
                            <tr>

                                <td>
                                    <img alt=@item.Ticket.Event.Name src=@item.Ticket.Event.Banner />
                                </td>
                                <td>
                                    <div>
                                        <h4>
                                            @Localizer["Event"]: @item.Ticket.Event.Name
                                        </h4>
                                        <h5>
                                            @Localizer["Date"]: @item.Ticket.Event.Date.ToString("dd/MM/yyyy")

                                        </h5>
                                        <h4>
                                            @Localizer["SellerNote"]: @item.Ticket.SellerNote.Name
                                        </h4>
                                        <h5>
                                            @Localizer["City"]: @item.Ticket.Event.Venue.City.Name

                                        </h5>
                                        <h5>
                                            @Localizer["Address"]: @item.Ticket.Event.Venue.Address
                                        </h5>
                                        <h5>
                                            @Localizer["Price"]: @item.Ticket.Price
                                        </h5>
                                        <p>
                                            @Localizer["Description"]: @item.Ticket.Event.Description
                                        </p>
                                        <h4>
                                            @Localizer["StatusOrder"]: @item.StatusOrder.Name
                                        </h4>
                                    </div>
                                </td>
                                <td class="col-md-3">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a asp-controller="MyTicket" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a></li>
                                        <li><a asp-controller="MyTicket" asp-action="Reject" asp-route-id="@item.Id">Reject</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



</html>