﻿@model ResailingApplication.Presentation.ViewModels.Tickets.RejectModel
@{
    ViewData["Title"] = Localizer["Reject order"];
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="Reject" asp-controller="MyTicket" asp-anti-forgery="true">
            <h4 style="height: 40px">
                @ViewData["Title"]
            </h4>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Comment">@Localizer["Comment"]</label>
                <input type="text" asp-for="Comment" />
                <span asp-validation-for="Comment" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="@Localizer["Reject"]" /> |
                <a class="btn btn-primary" asp-controller="MyTicket" asp-action="MyTickets">@Localizer["No"]</a>
            </div>
        </form>
    </div>
</div>
